---
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 8
IncludeBlocks: Regroup
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
AlignOperands: DontAlign
AlignAfterOpenBracket: false
AlignEscapedNewlines: DontAlign
PointerAlignment: Left
